{% set title = "Splendor &middot; Demos" %}
{% extends "demo/_base.html" %}

{% block head %}
<script type="module" src="/index.js"></script>
<link rel="stylesheet" href="/foundation.css" />
{% endblock %}

{% block body %}
<m3-layout variant="supporting-pane">
  <m3-nav slot="nav" example variant="drawer" mode="rail"></m3-nav>
  <main>
    <p>
      <button onclick="document.querySelector('m3-nav').toggle()">Toggle</button>
      <select id="variant" onchange="refresh()">
        <option value="auto" selected>Auto</option>
        <option value="rail">Rail</option>
        <option value="drawer">Drawer</option>
        <option value="modal">Modal</option>
      </select>
    </p>
  </main>
  <aside slot="supporting"></aside>
</m3-layout>

<script>
  function refresh() {
    const variant = document.querySelector("#variant").value;
    document.querySelector("m3-nav").variant = variant;
    console.log(variant);
  }
</script>
{% endblock %}